<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #333;
        }
        a {
            text-decoration: none;
            color: #007BFF;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать в интернет-магазин одежды 👗</h1>
    <p><a href="/admin/">Перейти в админку</a></p>
    <p><a href="/api/products/">Смотреть товары (API)</a></p>
</body>
</html>
